<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{766,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,222}}</string>
                <key>sourceSize</key>
                <string>{766,222}</string>
            </dict>
            <key>back pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{766,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,222}}</string>
                <key>sourceSize</key>
                <string>{766,222}</string>
            </dict>
            <key>city-ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,413},{173,86}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{173,86}}</string>
                <key>sourceSize</key>
                <string>{185,100}</string>
            </dict>
            <key>city-ipadhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{343,171}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{343,171}}</string>
                <key>sourceSize</key>
                <string>{369,199}</string>
            </dict>
            <key>city_pressed-ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,226},{185,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,100}}</string>
                <key>sourceSize</key>
                <string>{185,100}</string>
            </dict>
            <key>city_pressed-ipadhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{369,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,199}}</string>
                <key>sourceSize</key>
                <string>{369,199}</string>
            </dict>
            <key>jungle-ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,389},{297,81}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{297,81}}</string>
                <key>sourceSize</key>
                <string>{309,95}</string>
            </dict>
            <key>jungle-ipadhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{595,161}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{595,161}}</string>
                <key>sourceSize</key>
                <string>{621,191}</string>
            </dict>
            <key>jungle_pressed-ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,413},{309,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,95}}</string>
                <key>sourceSize</key>
                <string>{309,95}</string>
            </dict>
            <key>jungle_pressed-ipadhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,770},{621,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,191}}</string>
                <key>sourceSize</key>
                <string>{621,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectGame-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8501c5c016aa01ede2291a35c0088900$</string>
            <key>textureFileName</key>
            <string>selectGame-hd.png</string>
        </dict>
    </dict>
</plist>
