<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{766,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,222}}</string>
                <key>sourceSize</key>
                <string>{766,222}</string>
            </dict>
            <key>back pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{766,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,222}}</string>
                <key>sourceSize</key>
                <string>{766,222}</string>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{197,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,333}}</string>
                <key>sourceSize</key>
                <string>{197,333}</string>
            </dict>
            <key>level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,393},{229,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,280}}</string>
                <key>sourceSize</key>
                <string>{229,280}</string>
            </dict>
            <key>level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,450},{272,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,318}}</string>
                <key>sourceSize</key>
                <string>{272,318}</string>
            </dict>
            <key>level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,675},{259,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,304}}</string>
                <key>sourceSize</key>
                <string>{259,304}</string>
            </dict>
            <key>level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,675},{285,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,320}}</string>
                <key>sourceSize</key>
                <string>{285,320}</string>
            </dict>
            <key>level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,770},{228,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,264}}</string>
                <key>sourceSize</key>
                <string>{228,264}</string>
            </dict>
            <key>level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,197},{194,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,240}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{193,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,243}}</string>
                <key>sourceSize</key>
                <string>{193,243}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{182,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,373}}</string>
                <key>sourceSize</key>
                <string>{182,373}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectLevelSprites-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39d6d4773fc1ae291d2973c7068ad793$</string>
            <key>textureFileName</key>
            <string>selectLevelSprites-ipadhd.png</string>
        </dict>
    </dict>
</plist>
