<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New Record.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{789,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{789,157}}</string>
                <key>sourceSize</key>
                <string>{789,157}</string>
            </dict>
            <key>mp_menu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{389,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,112}}</string>
                <key>sourceSize</key>
                <string>{389,112}</string>
            </dict>
            <key>mp_menu_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{389,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,112}}</string>
                <key>sourceSize</key>
                <string>{389,112}</string>
            </dict>
            <key>mp_next level_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{516,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,112}}</string>
                <key>sourceSize</key>
                <string>{516,112}</string>
            </dict>
            <key>mp_next level_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{516,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,112}}</string>
                <key>sourceSize</key>
                <string>{516,112}</string>
            </dict>
            <key>mp_restart_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>mp_restart_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,116},{259,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,126}}</string>
                <key>sourceSize</key>
                <string>{259,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>morePresents-ipad.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcf211645ea4afb88ca7dc9cddf07d82$</string>
            <key>textureFileName</key>
            <string>morePresents-ipad.png</string>
        </dict>
    </dict>
</plist>
