<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New Record.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{1577,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1577,314}}</string>
                <key>sourceSize</key>
                <string>{1577,314}</string>
            </dict>
            <key>mp_menu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{777,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{777,223}}</string>
                <key>sourceSize</key>
                <string>{777,223}</string>
            </dict>
            <key>mp_menu_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{777,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{777,223}}</string>
                <key>sourceSize</key>
                <string>{777,223}</string>
            </dict>
            <key>mp_next level_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{1032,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,224}}</string>
                <key>sourceSize</key>
                <string>{1032,224}</string>
            </dict>
            <key>mp_next level_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{1032,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,224}}</string>
                <key>sourceSize</key>
                <string>{1032,224}</string>
            </dict>
            <key>mp_restart_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,332},{328,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,328}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>mp_restart_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2},{328,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,328}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,227},{518,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,252}}</string>
                <key>sourceSize</key>
                <string>{518,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>morePresents-ipadhd.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97ee9eaf5a5a5ec0156f41f9b5359778$</string>
            <key>textureFileName</key>
            <string>morePresents-ipadhd.png</string>
        </dict>
    </dict>
</plist>
