<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New Record.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{740,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,147}}</string>
                <key>sourceSize</key>
                <string>{740,147}</string>
            </dict>
            <key>mp_menu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,306},{344,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,100}}</string>
                <key>sourceSize</key>
                <string>{344,100}</string>
            </dict>
            <key>mp_menu_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,204},{344,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,100}}</string>
                <key>sourceSize</key>
                <string>{344,100}</string>
            </dict>
            <key>mp_next level_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{456,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,99}}</string>
                <key>sourceSize</key>
                <string>{456,99}</string>
            </dict>
            <key>mp_next level_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,99}}</string>
                <key>sourceSize</key>
                <string>{456,99}</string>
            </dict>
            <key>mp_restart_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,528},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>mp_restart_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,528},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,408},{243,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,118}}</string>
                <key>sourceSize</key>
                <string>{243,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>morePresents-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d385f9cd4a76f875fed47bb58f5eac0$</string>
            <key>textureFileName</key>
            <string>morePresents-hd.png</string>
        </dict>
    </dict>
</plist>
