<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,46}}</string>
                <key>sourceSize</key>
                <string>{160,46}</string>
            </dict>
            <key>back pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,46}}</string>
                <key>sourceSize</key>
                <string>{160,46}</string>
            </dict>
            <key>city level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,141},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{92,74}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
            <key>city level1_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,278},{59,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,70}}</string>
                <key>sourceSize</key>
                <string>{59,70}</string>
            </dict>
            <key>city level1_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{110,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,92}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
            <key>city level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,168},{94,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{94,71}}</string>
                <key>sourceSize</key>
                <string>{110,89}</string>
            </dict>
            <key>city level2_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,241},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{40,71}</string>
            </dict>
            <key>city level2_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,50},{110,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,89}}</string>
                <key>sourceSize</key>
                <string>{110,89}</string>
            </dict>
            <key>city level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,123},{95,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{95,71}}</string>
                <key>sourceSize</key>
                <string>{113,89}</string>
            </dict>
            <key>city level3_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,196},{63,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{63,74}</string>
            </dict>
            <key>city level3_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{113,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,89}}</string>
                <key>sourceSize</key>
                <string>{113,89}</string>
            </dict>
            <key>city level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{80,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{80,53}}</string>
                <key>sourceSize</key>
                <string>{96,71}</string>
            </dict>
            <key>city level4_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,217},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>city level4_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,50},{96,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,71}}</string>
                <key>sourceSize</key>
                <string>{96,71}</string>
            </dict>
            <key>city level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,221},{81,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{81,55}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>city level5_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,196},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>city level5_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,93},{99,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,73}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>city level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{79,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{79,51}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>city level6_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,247},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>city level6_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>city level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,318},{67,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{67,41}}</string>
                <key>sourceSize</key>
                <string>{85,59}</string>
            </dict>
            <key>city level7_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,278},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>city level7_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,99},{85,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,59}}</string>
                <key>sourceSize</key>
                <string>{85,59}</string>
            </dict>
            <key>city level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,283},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{66,41}}</string>
                <key>sourceSize</key>
                <string>{82,59}</string>
            </dict>
            <key>city level8_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,217},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>city level8_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,160},{82,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,59}}</string>
                <key>sourceSize</key>
                <string>{82,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectLevel.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa96c4ed965326718f4be3a975f39b99$</string>
            <key>textureFileName</key>
            <string>selectLevel.png</string>
        </dict>
    </dict>
</plist>
