<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reindeer3.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{186,604},{210,182}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,60},{210,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>reindeer3.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{214,816},{210,178}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,64},{210,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>reindeer3.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{216,176}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,66},{216,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>reindeer3.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,176}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,66},{220,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>reindeer3.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,176}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,66},{220,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>reindeer3.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,176}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,66},{220,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>reindeer3.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{186,392},{210,182}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,60},{210,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>reindeer3.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{186,180},{210,182}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,60},{210,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>reindeer3.swf/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{210,182}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,60},{210,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>reindeer3.swf/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{210,182}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,60},{210,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>reindeer3.swf/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{210,182}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,60},{210,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>reindeer3.swf/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{210,182}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,60},{210,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ReindeerAnimations_03-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae6c42763b7b2045e7b1d75bd33cbc1c$</string>
            <key>textureFileName</key>
            <string>ReindeerAnimations_03-hd.png</string>
        </dict>
    </dict>
</plist>
