<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Santa laugh3.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{366,260},{104,150}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{104,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{104,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{108,262},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{214,214},{104,150}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0008</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0009</key>
            <dict>
                <key>frame</key>
                <string>{{368,108},{104,150}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0010</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0011</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{104,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{104,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0014</key>
            <dict>
                <key>frame</key>
                <string>{{108,262},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0015</key>
            <dict>
                <key>frame</key>
                <string>{{214,214},{104,150}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0016</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0018</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0019</key>
            <dict>
                <key>frame</key>
                <string>{{368,108},{104,150}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0020</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0021</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{104,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{104,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0024</key>
            <dict>
                <key>frame</key>
                <string>{{108,262},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0025</key>
            <dict>
                <key>frame</key>
                <string>{{214,214},{104,150}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0026</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0027</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0028</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0029</key>
            <dict>
                <key>frame</key>
                <string>{{368,108},{104,150}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0030</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,152}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0031</key>
            <dict>
                <key>frame</key>
                <string>{{366,260},{104,150}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0032</key>
            <dict>
                <key>frame</key>
                <string>{{366,260},{104,150}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0033</key>
            <dict>
                <key>frame</key>
                <string>{{366,260},{104,150}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Santa laugh3.swf/0034</key>
            <dict>
                <key>frame</key>
                <string>{{366,260},{104,150}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SantaAnimationLaugh_03-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05b2e91530a5c0e3b84491b831ab812d$</string>
            <key>textureFileName</key>
            <string>SantaAnimationLaugh_03-hd.png</string>
        </dict>
    </dict>
</plist>
