<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Santa idle1/Santa_idle_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,288}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,63},{210,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{208,286}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{208,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{208,286}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{208,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{208,284}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,67},{208,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,0},{208,286}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{208,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,0},{212,288}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,63},{212,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,0},{212,290}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,61},{212,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,0},{212,288}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,63},{212,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,288}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,63},{210,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,0},{208,270}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{208,270}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,290},{208,270}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,290},{208,270}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,290},{208,270}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,290},{208,270}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,290},{208,270}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,290},{208,270}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,0},{208,270}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,290},{210,302}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{210,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,290},{210,302}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,49},{210,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{212,302}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{212,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,592},{212,302}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,49},{212,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,592},{212,302}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{212,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,592},{208,300}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,51},{208,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,592},{208,300}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,51},{208,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,592},{208,300}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,51},{208,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,290},{210,302}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{210,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,592},{208,270}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,592},{208,270}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,592},{208,270}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,894},{208,270}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,894},{208,270}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,894},{208,270}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,894},{208,270}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,894},{208,270}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,592},{208,270}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SantaAnimationIdle_00-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a784d77a7b12d8a7593ef8590adedd8$</string>
            <key>textureFileName</key>
            <string>SantaAnimationIdle_00-ipadhd.png</string>
        </dict>
    </dict>
</plist>
