<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Santa walk1/Santa_walk_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,154},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,390},{52,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,314},{52,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,390},{52,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,314},{52,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,228},{54,70}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{54,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,80},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,154},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,56},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,406},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,336},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,76},{52,70}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,266},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,196},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,126},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,56},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,56},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{54,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{54,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,238},{54,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{54,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{54,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{54,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{54,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{52,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{52,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{52,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{54,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,444},{52,66}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,148},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,372},{52,70}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,300},{52,70}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SantaAnimationJump_00.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88ef07cabd5a77a172057f4bc7baf47c$</string>
            <key>textureFileName</key>
            <string>SantaAnimationJump_00.png</string>
        </dict>
    </dict>
</plist>
