<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bucket idle1.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{360,58},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle1.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{134,124},{52,72}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle1.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{208,114},{52,72}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle1.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{434,112},{52,72}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle1.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{434,58},{52,72}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle1.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{286,58},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle1.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{54,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{54,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle1.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{134,68},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle2.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{280,172},{60,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle2.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{70,212},{62,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{62,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle2.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{70,142},{62,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{62,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle2.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{70,72},{62,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{62,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle2.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{62,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{62,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle2.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{132,282},{60,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle2.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{70,282},{60,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle2.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{426,166},{60,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle3.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{66,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{66,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle3.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{66,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{66,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle3.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{66,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{66,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle3.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{66,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{66,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle3.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{66,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle3.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{64,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle3.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{68,392},{64,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{64,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle3.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{64,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{64,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle4.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{354,114},{56,70}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{56,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle4.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{212,58},{54,72}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle4.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{54,72}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle4.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{54,72}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle4.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{54,72}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle4.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{134,178},{56,70}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{56,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle4.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{208,168},{56,70}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{56,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket idle4.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{282,114},{56,70}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{56,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SantaAnimationIdleBucket.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50eb70262426b4fd4a0f85cd0e3fbb40$</string>
            <key>textureFileName</key>
            <string>SantaAnimationIdleBucket.png</string>
        </dict>
    </dict>
</plist>
