<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bucket walk1.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{212,1236},{210,288}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,63},{210,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk1.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{212,1526},{208,288}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,63},{208,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk1.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{208,292}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,59},{208,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk1.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{208,292}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,59},{208,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk1.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{208,290}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,61},{208,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk1.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{548,1812},{232,284}}</string>
                <key>offset</key>
                <string>{16,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,67},{232,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk1.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{424,1192},{250,280}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,71},{250,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk1.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{422,1526},{232,284}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,67},{232,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk2.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{684,876},{236,270}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,57},{236,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk2.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{906,1464},{240,272}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,55},{240,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk2.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{656,1474},{248,272}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,55},{248,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk2.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{256,272}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,55},{256,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk2.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{676,1190},{242,272}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,55},{242,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk2.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{774,574},{218,268}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,59},{218,268}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk2.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{930,276},{208,264}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,63},{208,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk2.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1822},{222,268}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,59},{222,268}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk3.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{254,302}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,49},{254,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk3.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{248,310},{256,300}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,51},{256,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk3.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{260,296}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,55},{260,296}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk3.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{258,612},{264,294}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,57},{264,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk3.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{256,298}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,53},{256,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk3.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{238,306}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,48},{238,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk3.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,322}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,45},{212,322}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk3.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{244,306}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,47},{244,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk4.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{272,1816},{220,274}}</string>
                <key>offset</key>
                <string>{-27,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,57},{220,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk4.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{716,296},{212,276}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,60},{212,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk4.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{264,908},{208,282}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,63},{208,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk4.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{506,302},{208,294}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,64},{208,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk4.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{474,908},{208,280}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,60},{208,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk4.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{834,1748},{240,272}}</string>
                <key>offset</key>
                <string>{-37,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,55},{240,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk4.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{524,598},{248,276}}</string>
                <key>offset</key>
                <string>{-40,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{248,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket walk4.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1738},{238,272}}</string>
                <key>offset</key>
                <string>{-36,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,55},{238,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SantaAnimationBucket-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1710414ce6736b49102fe9dbf766c8f$</string>
            <key>textureFileName</key>
            <string>SantaAnimationBucket-ipadhd.png</string>
        </dict>
    </dict>
</plist>
