<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Santa idle1/Santa_idle_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,230},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,452},{52,72}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,304},{52,72}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,378},{52,72}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,304},{52,72}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,156},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,80},{54,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{54,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle1/Santa_idle_1.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,230},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,56},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,72},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,56},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,56},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle2/Santa_idle_2.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,56},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{54,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{54,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{54,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{54,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{54,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{52,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,392},{52,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{52,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle3/Santa_idle_3.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{54,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,426},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,356},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,286},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,216},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,146},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,76},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,448},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,378},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa idle4/Santa_idle_4.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,426},{52,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SantaAnimationIdle_00.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68e6cab93c30337783e81fb6e53097bd$</string>
            <key>textureFileName</key>
            <string>SantaAnimationIdle_00.png</string>
        </dict>
    </dict>
</plist>
