<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Santa laugh2.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{122,110},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{56,110},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{188,70},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0008</key>
            <dict>
                <key>frame</key>
                <string>{{122,56},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0009</key>
            <dict>
                <key>frame</key>
                <string>{{56,56},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0011</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0012</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0014</key>
            <dict>
                <key>frame</key>
                <string>{{122,110},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0015</key>
            <dict>
                <key>frame</key>
                <string>{{56,110},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0016</key>
            <dict>
                <key>frame</key>
                <string>{{188,70},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0018</key>
            <dict>
                <key>frame</key>
                <string>{{122,56},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0019</key>
            <dict>
                <key>frame</key>
                <string>{{56,56},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0021</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0022</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0024</key>
            <dict>
                <key>frame</key>
                <string>{{122,110},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0025</key>
            <dict>
                <key>frame</key>
                <string>{{56,110},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0026</key>
            <dict>
                <key>frame</key>
                <string>{{188,70},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0027</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0028</key>
            <dict>
                <key>frame</key>
                <string>{{122,56},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0029</key>
            <dict>
                <key>frame</key>
                <string>{{56,56},{52,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0030</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0031</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0032</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0033</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Santa laugh2.swf/0034</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{52,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SantaAnimationLaugh_02.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:390de654e711af9ce7ed83a57be01e8c$</string>
            <key>textureFileName</key>
            <string>SantaAnimationLaugh_02.png</string>
        </dict>
    </dict>
</plist>
