<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bucket idle1.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{262,306},{210,288}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,63},{210,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle1.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{472,596},{208,286}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{208,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle1.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{262,596},{208,286}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{208,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle1.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{688,1170},{206,284}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,67},{206,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle1.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{208,286}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{208,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle1.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{510,1506},{212,288}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,63},{212,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle1.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{260,1216},{212,290}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,61},{212,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle1.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{474,1216},{212,288}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,63},{212,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle2.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{724,836},{240,270}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,57},{240,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle2.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{242,270}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{242,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle2.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{692,280},{242,270}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{242,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle2.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{554,1796},{244,270}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,57},{244,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle2.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{682,564},{242,270}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{242,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle2.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{926,552},{238,270}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,57},{238,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle2.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2},{234,270}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,57},{234,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle2.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{936,274},{236,270}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,57},{236,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle3.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{256,302}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,49},{256,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle3.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{258,302}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{258,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle3.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{256,302}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,49},{256,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle3.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,302}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{260,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle3.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{258,302}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{258,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle3.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{256,1522},{252,300}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,51},{252,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle3.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{260,914},{250,300}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,51},{250,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle3.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{252,300}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,51},{252,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle4.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{474,284},{216,278}}</string>
                <key>offset</key>
                <string>{-25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,58},{216,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle4.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{826,1740},{216,280}}</string>
                <key>offset</key>
                <string>{-25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,57},{216,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle4.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{212,280}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,57},{212,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle4.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{512,884},{210,284}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{210,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle4.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{724,1456},{212,282}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,56},{212,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle4.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{218,276}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,58},{218,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle4.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{278,1824},{220,274}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,58},{220,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bucket idle4.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1824},{220,274}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,58},{220,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SantaAnimationIdleBucket-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cb485e41caed3b8ce16656c79cd5e2d$</string>
            <key>textureFileName</key>
            <string>SantaAnimationIdleBucket-ipadhd.png</string>
        </dict>
    </dict>
</plist>
