<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Santa laugh2.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{206,262}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,57},{206,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,262}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,57},{206,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{206,260}}</string>
                <key>offset</key>
                <string>{23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,59},{206,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{206,258}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,61},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{520,210},{206,256}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,63},{206,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{210,514},{206,252}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,67},{206,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{262,210},{206,256}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,63},{206,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{206,258}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,61},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0008</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{206,256}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,63},{206,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0009</key>
            <dict>
                <key>frame</key>
                <string>{{778,260},{206,252}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,67},{206,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{206,258}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,61},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,262}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,57},{206,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{206,260}}</string>
                <key>offset</key>
                <string>{23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,59},{206,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0013</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{206,258}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,61},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0014</key>
            <dict>
                <key>frame</key>
                <string>{{520,210},{206,256}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,63},{206,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0015</key>
            <dict>
                <key>frame</key>
                <string>{{210,514},{206,252}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,67},{206,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0016</key>
            <dict>
                <key>frame</key>
                <string>{{262,210},{206,256}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,63},{206,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0017</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{206,258}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,61},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0018</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{206,256}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,63},{206,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0019</key>
            <dict>
                <key>frame</key>
                <string>{{778,260},{206,252}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,67},{206,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{206,258}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,61},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,262}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,57},{206,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{206,260}}</string>
                <key>offset</key>
                <string>{23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,59},{206,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0023</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{206,258}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,61},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0024</key>
            <dict>
                <key>frame</key>
                <string>{{520,210},{206,256}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,63},{206,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0025</key>
            <dict>
                <key>frame</key>
                <string>{{210,514},{206,252}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,67},{206,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0026</key>
            <dict>
                <key>frame</key>
                <string>{{262,210},{206,256}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,63},{206,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0027</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{206,258}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,61},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0028</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{206,256}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,63},{206,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0029</key>
            <dict>
                <key>frame</key>
                <string>{{778,260},{206,252}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,67},{206,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0030</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{206,258}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,61},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{206,262}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,57},{206,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0032</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{206,262}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,57},{206,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0033</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{206,262}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,57},{206,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa laugh2.swf/0034</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{206,262}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,57},{206,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SantaAnimationLaugh_02-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c3c7cf7a82d084e8c4ee22057e9927d$</string>
            <key>textureFileName</key>
            <string>SantaAnimationLaugh_02-ipadhd.png</string>
        </dict>
    </dict>
</plist>
