<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Santa walk1/Santa_walk_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,288}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,63},{210,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{208,288}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,63},{208,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{208,292}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,59},{208,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{208,292}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,59},{208,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,0},{208,290}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,61},{208,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,0},{212,284}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,67},{212,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,0},{216,280}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,71},{216,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,0},{214,284}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,67},{214,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk1/Santa_walk_1.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,288}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,63},{210,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,0},{208,270}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{208,272}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,55},{208,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,292},{208,272}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,55},{208,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,292},{208,272}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,55},{208,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,292},{208,272}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,55},{208,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,292},{208,268}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,59},{208,268}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,292},{208,264}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,63},{208,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,292},{208,268}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,59},{208,268}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk2/Santa_walk_2.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,0},{208,270}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,292},{210,302}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{210,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,292},{212,300}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,51},{212,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,594},{214,296}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,55},{214,296}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,594},{214,294}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,57},{214,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,594},{212,298}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,53},{212,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,594},{208,304}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,47},{208,304}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,594},{208,306}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,45},{208,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,594},{208,304}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,47},{208,304}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk3/Santa_walk_3.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,292},{210,302}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{210,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,594},{208,270}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,594},{208,268}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,59},{208,268}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,594},{208,264}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,63},{208,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{208,262}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,65},{208,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,900},{208,266}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,61},{208,266}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,900},{208,272}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,55},{208,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,900},{208,276}}</string>
                <key>offset</key>
                <string>{-20,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,51},{208,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,900},{208,272}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,55},{208,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Santa walk4/Santa_walk_4.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,594},{208,270}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SantaAnimationJump_00-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:038bbb967d7c2a80040a53c6f2b6965d$</string>
            <key>textureFileName</key>
            <string>SantaAnimationJump_00-ipadhd.png</string>
        </dict>
    </dict>
</plist>
