<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bucket walk1.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{124,236},{54,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk1.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{70,236},{52,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk1.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{56,320},{52,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk1.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{52,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk1.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{52,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk1.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{110,312},{58,72}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{58,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk1.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{170,310},{64,70}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{64,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk1.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{56,396},{60,72}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{60,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk2.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{190,142},{60,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk2.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{186,72},{60,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk2.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{262,444},{62,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{62,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk2.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{118,386},{64,70}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{64,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk2.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{248,374},{62,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{62,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk2.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{292,282},{56,68}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{56,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk2.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{312,352},{52,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk2.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{242,212},{56,68}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{56,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk3.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{64,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{64,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk3.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{66,82},{64,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{64,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk3.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{68,160},{66,74}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk3.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{66,74}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk3.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{64,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{64,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk3.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{60,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{60,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk3.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{54,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk3.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{62,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{62,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk4.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{190,454},{56,70}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{56,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk4.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{236,302},{54,70}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{54,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk4.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{136,156},{52,72}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk4.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{132,80},{52,74}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk4.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{118,458},{52,70}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk4.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{60,68}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk4.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{184,382},{62,70}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{62,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bucket walk4.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{180,230},{60,70}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{60,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SantaAnimationBucket.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63c56367083d965fc71ba8405ee0ebbb$</string>
            <key>textureFileName</key>
            <string>SantaAnimationBucket.png</string>
        </dict>
    </dict>
</plist>
