<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walrus run1.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{334,278}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,56},{334,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run1.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{340,1682},{334,278}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,56},{334,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run1.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{708,1346},{334,278}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,56},{334,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run1.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{334,278}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,56},{334,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run1.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{738,1010},{334,278}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,56},{334,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run1.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{738,674},{334,278}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,56},{334,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run1.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{738,338},{334,278}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,56},{334,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run1.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{334,278}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,56},{334,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run2.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{340,1034},{366,336}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,52},{366,336}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run2.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{366,336}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,52},{366,336}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run2.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{370,696},{366,336}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,52},{366,336}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run2.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{366,336}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,52},{366,336}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run2.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{370,352},{366,342}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,46},{366,342}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run2.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{366,348}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{366,348}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run2.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,352}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{366,352}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>walrus run2.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{366,338}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,50},{366,338}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WalrusAnimation-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1d7a80bb62cb5391600980ea86d991f$</string>
            <key>textureFileName</key>
            <string>WalrusAnimation-ipadhd.png</string>
        </dict>
    </dict>
</plist>
