<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{325,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,94}}</string>
                <key>sourceSize</key>
                <string>{325,94}</string>
            </dict>
            <key>menu_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,94}}</string>
                <key>sourceSize</key>
                <string>{325,94}</string>
            </dict>
            <key>next level_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{516,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,112}}</string>
                <key>sourceSize</key>
                <string>{516,112}</string>
            </dict>
            <key>next level_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,194},{516,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,112}}</string>
                <key>sourceSize</key>
                <string>{516,112}</string>
            </dict>
            <key>restart norrmal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>restart prees.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,147},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{149,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,143}}</string>
                <key>sourceSize</key>
                <string>{149,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameOverSprites-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0292898a04455dbaea954f54b3589cdb$</string>
            <key>textureFileName</key>
            <string>gameOverSprites-hd.png</string>
        </dict>
    </dict>
</plist>
