<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Elf Sneak1/Elf4_sneak_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,274},{54,68}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{54,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak1/Elf4_sneak_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,344},{52,68}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak1/Elf4_sneak_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,330},{52,68}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak1/Elf4_sneak_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,328},{52,68}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak1/Elf4_sneak_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,274},{52,68}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak1/Elf4_sneak_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,274},{52,68}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,166},{52,72}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{52,72}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,164},{52,72}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{54,72}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,112},{52,72}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{52,72}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{52,70}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{52,70}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{52,70}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,218},{54,70}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{54,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,220},{52,70}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,19},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{52,70}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,19},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{54,72}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,110},{52,72}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,58},{52,72}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,74}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,56},{52,72}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{52,72}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elf_04_Animation.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ebabbbdf25e2e16ebbd17f60ae46f7a$</string>
            <key>textureFileName</key>
            <string>Elf_04_Animation.png</string>
        </dict>
    </dict>
</plist>
