<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Elf Sneak1/Elf2_sneak_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,584},{104,116}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,55},{104,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak1/Elf2_sneak_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,532},{104,116}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,55},{104,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak1/Elf2_sneak_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{104,118}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,53},{104,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak1/Elf2_sneak_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,478},{104,118}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,53},{104,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak1/Elf2_sneak_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,266},{104,118}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,53},{104,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak1/Elf2_sneak_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,532},{104,116}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,55},{104,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak2/Elf2_sneak_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{104,128}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,43},{104,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak2/Elf2_sneak_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,134},{104,130}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,41},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak2/Elf2_sneak_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,108},{104,130}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,41},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak2/Elf2_sneak_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,108},{104,130}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,41},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak2/Elf2_sneak_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{104,130}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,41},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak2/Elf2_sneak_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{104,130}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,41},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak3/Elf2_sneak_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,426},{104,120}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,48},{104,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak3/Elf2_sneak_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,426},{104,120}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,48},{104,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak3/Elf2_sneak_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{104,120}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,48},{104,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak3/Elf2_sneak_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,372},{104,120}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,48},{104,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak3/Elf2_sneak_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,320},{104,120}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,48},{104,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak3/Elf2_sneak_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,320},{104,120}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,48},{104,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak4/Elf2_sneak_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,214},{104,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,42},{104,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak4/Elf2_sneak_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,214},{104,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,42},{104,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak4/Elf2_sneak_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{104,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak4/Elf2_sneak_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{104,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak4/Elf2_sneak_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak4/Elf2_sneak_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{104,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,42},{104,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Sneak4/elf40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{104,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elf_02_Animation-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4cd661bc8b690427097470e0bd7dd49$</string>
            <key>textureFileName</key>
            <string>Elf_02_Animation-hd.png</string>
        </dict>
    </dict>
</plist>
