<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Elf Throw1/Elf1_throw_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1546},{208,296}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,56},{208,296}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1216},{208,270}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,82},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1258},{210,210}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,142},{210,210}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1050},{216,208}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,144},{216,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1468},{210,208}}</string>
                <key>offset</key>
                <string>{8,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,144},{210,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,944},{208,272}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,80},{208,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1250},{208,296}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,56},{208,296}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,208},{208,294}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,58},{208,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,208},{208,294}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,58},{208,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,208},{208,294}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,58},{208,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,254},{208,294}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,58},{208,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,208},{208,294}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,58},{208,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{254,294}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,58},{254,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,416},{208,288}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,64},{208,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,416},{208,282}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,70},{208,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,954},{208,296}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,56},{208,296}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,624},{208,260}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,61},{208,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1226},{208,278}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,43},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1504},{218,276}}</string>
                <key>offset</key>
                <string>{21,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,45},{218,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1656},{208,258}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,63},{208,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,948},{208,278}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,43},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,670},{208,278}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,43},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1398},{208,258}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,63},{208,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1140},{208,258}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,63},{208,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,882},{208,258}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,63},{208,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,624},{208,258}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,63},{208,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,624},{208,256}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,65},{208,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,832},{208,256}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,65},{208,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,624},{208,256}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,65},{208,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,888},{208,262}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,59},{208,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1752},{208,266}}</string>
                <key>offset</key>
                <string>{17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,55},{208,266}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1670},{208,260}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,61},{208,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,462},{208,292}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,50},{208,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1410},{208,260}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,82},{208,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1086},{220,208}}</string>
                <key>offset</key>
                <string>{-9,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,134},{220,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1676},{208,208}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,134},{208,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,832},{218,208}}</string>
                <key>offset</key>
                <string>{-8,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,134},{218,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1658},{208,258}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,84},{208,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,0},{208,294}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,48},{208,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,0},{208,294}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,48},{208,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,0},{208,294}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,48},{208,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,0},{208,294}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,48},{208,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{208,294}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,48},{208,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{208,316}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,26},{208,316}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{208,330}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,12},{208,330}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,416},{208,292}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,50},{208,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,416},{208,288}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,54},{208,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,208},{208,292}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,50},{208,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,832},{208,254}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,61},{208,254}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1780},{208,268}}</string>
                <key>offset</key>
                <string>{-19,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,47},{208,268}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1670},{208,260}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,55},{208,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1342},{208,236}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,79},{208,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1400},{208,258}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,57},{208,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1486},{208,266}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,49},{208,266}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1142},{208,258}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,57},{208,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,884},{208,258}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,57},{208,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1410},{208,260}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,55},{208,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,624},{208,264}}</string>
                <key>offset</key>
                <string>{-19,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,51},{208,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,670},{208,274}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,41},{208,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,416},{208,286}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,29},{208,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1150},{242,260}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,55},{242,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{208,308}}</string>
                <key>offset</key>
                <string>{-19,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,7},{208,308}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1780},{208,266}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,49},{208,266}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1088},{208,254}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,61},{208,254}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elf_05_Animation-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99e05a01e37cc374c58c23fcc6b98d23$</string>
            <key>textureFileName</key>
            <string>Elf_05_Animation-ipadhd.png</string>
        </dict>
    </dict>
</plist>
