<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Elf Sneak1/Elf1_sneak_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,272},{52,70}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak1/Elf1_sneak_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,342},{52,68}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak1/Elf1_sneak_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,326},{52,68}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,21},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak1/Elf1_sneak_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,272},{52,70}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak1/Elf1_sneak_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{52,70}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak1/Elf1_sneak_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{52,70}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf1_sneak_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{52,70}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf1_sneak_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,218},{52,70}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf1_sneak_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,218},{52,70}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf1_sneak_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{52,70}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf1_sneak_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,164},{52,70}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak2/Elf1_sneak_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,164},{52,70}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf1_sneak_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{52,70}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf1_sneak_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,326},{52,68}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf1_sneak_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,272},{52,68}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf1_sneak_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,110},{52,70}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf1_sneak_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,110},{52,70}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak3/Elf1_sneak_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{52,70}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf1_sneak_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,56},{52,70}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf1_sneak_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,56},{52,70}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf1_sneak_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{52,70}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf1_sneak_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{52,70}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf1_sneak_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{52,70}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Sneak4/Elf1_sneak_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,70}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elf_01_Animation.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:275e868ef0b9465475ef835009eafece$</string>
            <key>textureFileName</key>
            <string>Elf_01_Animation.png</string>
        </dict>
    </dict>
</plist>
