<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Elf Throw1/Elf2_throw_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{104,154}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,846},{104,142}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,32},{104,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,832},{110,104}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,70},{110,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,416},{114,104}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,70},{114,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,728},{112,104}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,70},{112,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,312},{104,140}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,34},{104,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{104,154}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,104},{104,152}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{104,152}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,0},{104,152}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,0},{104,152}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,22},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{108,152}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,22},{108,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{124,152}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,22},{124,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,208},{104,150}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,104},{104,150}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,24},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{104,154}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,20},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,416},{104,132}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,33},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,840},{104,140}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,25},{104,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,704},{104,142}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,23},{104,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,812},{104,132}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,33},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,562},{104,142}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,23},{104,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,420},{104,142}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,23},{104,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,520},{104,130}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,35},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,624},{104,128}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{104,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,520},{104,128}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{104,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,778},{104,128}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,37},{104,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,650},{104,128}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,37},{104,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,680},{104,132}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,33},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,548},{104,132}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,33},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,416},{104,132}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,33},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,552},{104,136}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{104,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,812},{104,132}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,33},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,104},{104,150}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,23},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,416},{104,130}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,43},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,730},{110,104}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,69},{110,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,834},{108,104}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,69},{108,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,626},{112,104}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,69},{112,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,906},{112,124}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,49},{112,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,208},{104,146}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,27},{104,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,228},{104,148}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,25},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,104},{104,150}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,23},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,212},{104,150}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,23},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{104,152}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,21},{104,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{104,160}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{104,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,166}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,7},{104,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{104,156}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,17},{104,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,316},{104,146}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,27},{104,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,124},{104,150}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,23},{104,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,680},{104,132}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,700},{104,140}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{104,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,688},{104,134}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{104,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,520},{106,120}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,45},{106,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,548},{104,132}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,560},{104,140}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{104,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,312},{104,138}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,27},{104,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,416},{104,136}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{104,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,420},{104,140}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{104,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,312},{104,138}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,27},{104,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,208},{104,142}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,23},{104,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,208},{104,144}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,21},{104,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,822},{126,132}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,33},{126,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,482},{104,154}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,11},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,312},{104,136}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,29},{104,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,416},{104,132}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elf_06_Animation-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbd05874b8a0003180df887d9a2dafed$</string>
            <key>textureFileName</key>
            <string>Elf_06_Animation-hd.png</string>
        </dict>
    </dict>
</plist>
