<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Elf Throw1/Elf2_throw_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{52,78}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{52,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,156},{52,72}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,446},{56,52}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,35},{56,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,366},{58,52}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{58,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,446},{56,52}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,35},{56,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,208},{52,70}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,17},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{52,78}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{52,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,114},{52,76}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,106},{52,76}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,104},{52,76}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,52},{52,76}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{54,76}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{54,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{62,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{62,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,52},{52,76}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,52},{52,76}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{52,78}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{52,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,366},{52,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,218},{52,70}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,12},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,104},{54,72}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,364},{52,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,166},{52,72}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,210},{52,70}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,12},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,324},{52,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,418},{52,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,416},{52,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,376},{52,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,364},{52,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,328},{52,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,314},{52,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,262},{52,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,270},{52,68}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,312},{52,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,62},{52,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,262},{52,66}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,446},{56,52}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,35},{56,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,446},{54,52}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,35},{54,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,394},{56,52}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,35},{56,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,374},{56,64}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{56,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,104},{52,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,54},{52,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,52},{52,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{52,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{52,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{52,82}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{52,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{52,84}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{52,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{52,80}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{52,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,104},{52,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{52,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,260},{52,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,208},{52,70}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,322},{52,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,430},{54,60}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{54,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,314},{52,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,158},{52,70}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,262},{52,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,260},{52,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,156},{52,70}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,210},{52,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,158},{52,72}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,156},{52,72}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,260},{64,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{64,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{52,76}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{52,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,208},{52,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,312},{52,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elf_06_Animation.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:add63b75c98d190e7c572937251b2cde$</string>
            <key>textureFileName</key>
            <string>Elf_06_Animation.png</string>
        </dict>
    </dict>
</plist>
