<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Elf Sneak1/Elf4_sneak_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1266},{214,270}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,90},{214,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak1/Elf4_sneak_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{208,270}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,90},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak1/Elf4_sneak_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1484},{208,270}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,90},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak1/Elf4_sneak_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1482},{208,270}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,90},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak1/Elf4_sneak_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{208,270}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,90},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak1/Elf4_sneak_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1274},{208,270}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,90},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,212},{208,290}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,48},{208,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{208,290}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,48},{208,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,212},{208,290}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,48},{208,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,290}}</string>
                <key>offset</key>
                <string>{24,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,48},{216,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{208,290}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,48},{208,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak2/Elf4_sneak_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{208,290}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,48},{208,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{208,278}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,78},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1064},{208,278}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,78},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1056},{208,278}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,78},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,846},{216,278}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,78},{216,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,846},{208,278}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,78},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak3/Elf4_sneak_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{208,278}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,78},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{218,286}}</string>
                <key>offset</key>
                <string>{-24,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,49},{218,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,634},{210,288}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,47},{210,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,422},{210,288}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,47},{210,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{210,288}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,47},{210,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,422},{210,288}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,47},{210,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Sneak4/Elf4_sneak_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,634},{210,286}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,49},{210,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elf_04_Animation-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d8620be107ccf23513470d6f0411d76$</string>
            <key>textureFileName</key>
            <string>Elf_04_Animation-ipadhd.png</string>
        </dict>
    </dict>
</plist>
