<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Elf Throw1/Elf1_throw_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,208},{104,148}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,28},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,632},{104,136}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,40},{104,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,550},{104,106}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,70},{104,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,208},{108,104}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,72},{108,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,446},{106,104}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,72},{106,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,558},{104,136}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,40},{104,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,104},{104,148}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,28},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{104,148}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,28},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,510},{104,148}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{104,148}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,484},{104,148}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{106,148}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,28},{106,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,148}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{128,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,312},{104,144}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,32},{104,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,416},{104,142}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,34},{104,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw1/Elf1_throw_1.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,380},{104,148}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,28},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,896},{104,130}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,31},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,104},{104,140}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,21},{104,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,380},{108,140}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,21},{108,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,866},{104,130}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,31},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,0},{104,140}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,21},{104,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,208},{104,140}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,21},{104,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,858},{104,130}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,31},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,854},{104,130}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,31},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,798},{104,130}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,31},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,754},{104,130}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,31},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,624},{104,130}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,31},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,520},{104,130}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,31},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{104,130}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,31},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,726},{104,132}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,29},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,592},{104,134}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,27},{104,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw2/Elf1_throw_2.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,104},{104,130}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,31},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,104},{104,146}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{104,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,208},{104,130}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,41},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,884},{110,104}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,67},{110,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,656},{104,104}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,67},{104,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,338},{108,104}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,67},{108,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,416},{104,130}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,41},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,104},{104,148}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,23},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{104,148}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,23},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{104,148}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,362},{104,148}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,258},{104,148}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,23},{104,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{104,158}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,13},{104,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{104,166}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,5},{104,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,488},{104,146}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{104,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,208},{104,144}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,27},{104,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw3/Elf1_throw_3.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,488},{104,146}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{104,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,902},{104,126}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,31},{104,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,658},{104,134}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{104,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,694},{104,130}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,27},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,884},{104,118}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,39},{104,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,724},{104,130}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{104,134}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{104,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,736},{104,130}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,830},{104,130}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,792},{104,130}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,27},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,694},{104,132}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,25},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,312},{104,138}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,19},{104,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{104,144}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,13},{104,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,258},{122,130}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{122,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,104},{104,154}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,592},{104,132}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,25},{104,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Elf Throw4/Elf1_throw_4.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,798},{104,126}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{104,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elf_05_Animation-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f78f5f6f3e05c3fc1854423c7adc8bcd$</string>
            <key>textureFileName</key>
            <string>Elf_05_Animation-hd.png</string>
        </dict>
    </dict>
</plist>
