<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Elf Throw1/Elf2_throw_1.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1272},{208,308}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,40},{208,308}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,630},{208,284}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,64},{208,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1250},{222,208}}</string>
                <key>offset</key>
                <string>{17,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,140},{222,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1552},{230,208}}</string>
                <key>offset</key>
                <string>{21,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,140},{230,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1502},{224,208}}</string>
                <key>offset</key>
                <string>{18,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,140},{224,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1250},{208,278}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,70},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{208,306}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,42},{208,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{208,304}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,44},{208,304}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{208,304}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,44},{208,304}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,214},{208,302}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,46},{208,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,208},{208,302}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,46},{208,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,0},{214,302}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,46},{214,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,0},{246,302}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,46},{246,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,246},{208,300}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,48},{208,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,208},{208,300}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,48},{208,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw1/Elf2_throw_1.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,964},{208,308}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,40},{208,308}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1770},{208,260}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,69},{208,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1042},{208,278}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,51},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,832},{210,282}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,47},{210,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1290},{208,262}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,67},{208,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,624},{208,282}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,47},{208,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,624},{208,282}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,47},{208,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1254},{208,258}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,71},{208,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1792},{208,256}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,73},{208,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1512},{208,254}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,75},{208,254}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1766},{208,252}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,77},{208,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1250},{208,252}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,77},{208,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1774},{208,260}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,69},{208,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1774},{208,260}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,69},{208,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1286},{208,260}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,69},{208,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,870},{208,270}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,59},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw2/Elf2_throw_2.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1290},{208,260}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,69},{208,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,208},{208,300}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,46},{208,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1782},{208,260}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,86},{208,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,1726},{220,208}}</string>
                <key>offset</key>
                <string>{-14,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,138},{220,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1472},{214,208}}</string>
                <key>offset</key>
                <string>{-11,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,138},{214,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1546},{224,208}}</string>
                <key>offset</key>
                <string>{-16,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,138},{224,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1550},{224,248}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,98},{224,248}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,416},{208,292}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,54},{208,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,624},{208,296}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,50},{208,296}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,422},{208,298}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,48},{208,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,208},{208,300}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,46},{208,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,0},{208,302}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,44},{208,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{208,320}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,26},{208,320}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{208,332}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,14},{208,332}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{208,312}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,34},{208,312}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,416},{208,292}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,54},{208,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw3/Elf2_throw_3.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,416},{208,300}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,46},{208,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1078},{208,262}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,68},{208,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,838},{208,278}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,52},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,832},{208,266}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,64},{208,266}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1802},{210,238}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,92},{210,238}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,870},{208,264}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,66},{208,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,662},{208,278}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,52},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1528},{208,274}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,56},{208,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1250},{208,272}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,58},{208,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,624},{208,278}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,52},{208,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,870},{208,274}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,56},{208,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,454},{208,284}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,46},{208,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,416},{208,286}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,44},{208,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1040},{250,262}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,68},{250,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1580},{208,306}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,24},{208,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1522},{208,270}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,60},{208,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Elf Throw4/Elf2_throw_4.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1046},{208,262}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,68},{208,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elf_06_Animation-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45db4f22ac27d90a6bf7a4169a08f186$</string>
            <key>textureFileName</key>
            <string>Elf_06_Animation-ipadhd.png</string>
        </dict>
    </dict>
</plist>
