<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{54,478},{11,22}}</string>
                <key>offset</key>
                <string>{-6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,106},{11,22}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{67,497},{13,34}}</string>
                <key>offset</key>
                <string>{-6,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,95},{13,34}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{67,478},{17,34}}</string>
                <key>offset</key>
                <string>{-6,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,95},{17,34}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{25,50}}</string>
                <key>offset</key>
                <string>{-10,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,79},{25,50}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{240,322},{35,72}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,57},{35,72}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{246,204},{41,56}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,73},{41,56}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{246,262},{35,52}}</string>
                <key>offset</key>
                <string>{-6,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,76},{35,52}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{124,466},{43,58}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,70},{43,58}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0008</key>
            <dict>
                <key>frame</key>
                <string>{{240,396},{41,68}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,60},{41,68}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0009</key>
            <dict>
                <key>frame</key>
                <string>{{184,444},{49,66}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,62},{49,66}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0010</key>
            <dict>
                <key>frame</key>
                <string>{{282,439},{49,70}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,58},{49,70}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0011</key>
            <dict>
                <key>frame</key>
                <string>{{235,444},{45,60}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,68},{45,60}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0012</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{53,94}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{53,94}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0013</key>
            <dict>
                <key>frame</key>
                <string>{{236,106},{53,96}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{53,96}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0014</key>
            <dict>
                <key>frame</key>
                <string>{{189,222},{55,98}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{55,98}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0015</key>
            <dict>
                <key>frame</key>
                <string>{{183,342},{55,100}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{55,100}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0016</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{57,102}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{57,102}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0017</key>
            <dict>
                <key>frame</key>
                <string>{{177,116},{57,104}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{57,104}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0018</key>
            <dict>
                <key>frame</key>
                <string>{{130,234},{57,106}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{57,106}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0019</key>
            <dict>
                <key>frame</key>
                <string>{{124,356},{57,108}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{57,108}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0020</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{59,112}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{59,112}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0021</key>
            <dict>
                <key>frame</key>
                <string>{{116,120},{59,112}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{59,112}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0022</key>
            <dict>
                <key>frame</key>
                <string>{{67,240},{61,114}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{61,114}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0023</key>
            <dict>
                <key>frame</key>
                <string>{{51,122},{63,116}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{63,116}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{63,116}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{63,116}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,118}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{65,118}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{61,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{61,116}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0027</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{61,116}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{61,116}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0028</key>
            <dict>
                <key>frame</key>
                <string>{{65,360},{57,116}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{57,116}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
            <key>smoke.swf/0029</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{47,118}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{47,118}}</string>
                <key>sourceSize</key>
                <string>{69,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Smoke.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa46e46e9a72bc2626acd663e74c3eb8$</string>
            <key>textureFileName</key>
            <string>Smoke.png</string>
        </dict>
    </dict>
</plist>
