<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{372,414},{20,46}}</string>
                <key>offset</key>
                <string>{-11,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,211},{20,46}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{324,438},{24,68}}</string>
                <key>offset</key>
                <string>{-12,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,190},{24,68}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{256,438},{32,66}}</string>
                <key>offset</key>
                <string>{-12,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,191},{32,66}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{366,862},{52,98}}</string>
                <key>offset</key>
                <string>{-21,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,159},{52,98}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{76,144}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,115},{76,144}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{148,942},{80,112}}</string>
                <key>offset</key>
                <string>{-9,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,146},{80,112}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{262,918},{70,104}}</string>
                <key>offset</key>
                <string>{-12,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,153},{70,104}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{84,112}}</string>
                <key>offset</key>
                <string>{-6,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,143},{84,112}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0008</key>
            <dict>
                <key>frame</key>
                <string>{{568,794},{82,134}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,121},{82,134}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0009</key>
            <dict>
                <key>frame</key>
                <string>{{334,918},{100,132}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,124},{100,132}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0010</key>
            <dict>
                <key>frame</key>
                <string>{{468,862},{98,138}}</string>
                <key>offset</key>
                <string>{-5,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,118},{98,138}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0011</key>
            <dict>
                <key>frame</key>
                <string>{{568,930},{88,120}}</string>
                <key>offset</key>
                <string>{-11,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,136},{88,120}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0012</key>
            <dict>
                <key>frame</key>
                <string>{{476,606},{106,186}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,69},{106,186}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0013</key>
            <dict>
                <key>frame</key>
                <string>{{444,414},{106,190}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,66},{106,190}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0014</key>
            <dict>
                <key>frame</key>
                <string>{{366,666},{108,194}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,62},{108,194}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0015</key>
            <dict>
                <key>frame</key>
                <string>{{334,464},{108,200}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,56},{108,200}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0016</key>
            <dict>
                <key>frame</key>
                <string>{{372,210},{110,202}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,54},{110,202}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0017</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{112,206}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,49},{112,206}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0018</key>
            <dict>
                <key>frame</key>
                <string>{{256,226},{114,210}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,45},{114,210}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0019</key>
            <dict>
                <key>frame</key>
                <string>{{248,702},{116,214}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,41},{116,214}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0020</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{116,222}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,38},{116,222}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0021</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{118,224}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{118,224}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0022</key>
            <dict>
                <key>frame</key>
                <string>{{212,472},{120,228}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{120,228}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{122,232}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{122,232}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{126,234}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{126,234}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,236}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{128,236}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0026</key>
            <dict>
                <key>frame</key>
                <string>{{130,240},{124,230}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{124,230}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0027</key>
            <dict>
                <key>frame</key>
                <string>{{126,710},{120,230}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{120,230}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0028</key>
            <dict>
                <key>frame</key>
                <string>{{98,476},{112,232}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{112,232}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
            <key>smoke.swf/0029</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{94,234}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{94,234}}</string>
                <key>sourceSize</key>
                <string>{138,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Smoke-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09874fe6a333a7150b02e7e3abfeec49$</string>
            <key>textureFileName</key>
            <string>Smoke-hd.png</string>
        </dict>
    </dict>
</plist>
