<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JoystickFront.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,382},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>arrow0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{1,1}}</string>
                <key>offset</key>
                <string>{-137.5,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{276,265}</string>
            </dict>
            <key>arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,593},{112,115}}</string>
                <key>offset</key>
                <string>{-82,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{276,265}</string>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,528},{112,115}}</string>
                <key>offset</key>
                <string>{82,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{276,265}</string>
            </dict>
            <key>arrow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{112,115}}</string>
                <key>offset</key>
                <string>{-82,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,150},{112,115}}</string>
                <key>sourceSize</key>
                <string>{276,265}</string>
            </dict>
            <key>arrow4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,479},{112,115}}</string>
                <key>offset</key>
                <string>{82,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,150},{112,115}}</string>
                <key>sourceSize</key>
                <string>{276,265}</string>
            </dict>
            <key>joy_stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,265}}</string>
                <key>sourceSize</key>
                <string>{276,265}</string>
            </dict>
            <key>jumpDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>jumpNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>jumpSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>pause_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,625},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>pause_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,528},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>skip_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{172,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,95}}</string>
                <key>sourceSize</key>
                <string>{172,95}</string>
            </dict>
            <key>skip_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,382},{172,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,95}}</string>
                <key>sourceSize</key>
                <string>{172,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttonsSpritesSheets-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b333b8997d2e486396e810d905f371e4$</string>
            <key>textureFileName</key>
            <string>buttonsSpritesSheets-hd.png</string>
        </dict>
    </dict>
</plist>
