<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,448},{440,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{440,356}}</string>
                <key>sourceSize</key>
                <string>{528,444}</string>
            </dict>
            <key>city level1_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1214},{280,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,334}}</string>
                <key>sourceSize</key>
                <string>{280,334}</string>
            </dict>
            <key>city level1_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{528,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,444}}</string>
                <key>sourceSize</key>
                <string>{528,444}</string>
            </dict>
            <key>city level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,682},{442,339}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{442,339}}</string>
                <key>sourceSize</key>
                <string>{528,427}</string>
            </dict>
            <key>city level2_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1023},{189,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,336}}</string>
                <key>sourceSize</key>
                <string>{189,336}</string>
            </dict>
            <key>city level2_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{528,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,427}}</string>
                <key>sourceSize</key>
                <string>{528,427}</string>
            </dict>
            <key>city level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,340},{457,340}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{457,340}}</string>
                <key>sourceSize</key>
                <string>{543,428}</string>
            </dict>
            <key>city level3_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{301,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,350}}</string>
                <key>sourceSize</key>
                <string>{301,350}</string>
            </dict>
            <key>city level3_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{543,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,428}}</string>
                <key>sourceSize</key>
                <string>{543,428}</string>
            </dict>
            <key>city level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,969},{373,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,44},{373,248}}</string>
                <key>sourceSize</key>
                <string>{459,336}</string>
            </dict>
            <key>city level4_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1092},{163,239}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{163,239}}</string>
                <key>sourceSize</key>
                <string>{163,241}</string>
            </dict>
            <key>city level4_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{459,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,336}}</string>
                <key>sourceSize</key>
                <string>{459,336}</string>
            </dict>
            <key>city level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{385,257}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,45},{385,257}}</string>
                <key>sourceSize</key>
                <string>{471,347}</string>
            </dict>
            <key>city level5_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1507},{174,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,233}}</string>
                <key>sourceSize</key>
                <string>{174,233}</string>
            </dict>
            <key>city level5_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,2},{471,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,347}}</string>
                <key>sourceSize</key>
                <string>{471,347}</string>
            </dict>
            <key>city level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1092},{368,242}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,45},{368,242}}</string>
                <key>sourceSize</key>
                <string>{454,332}</string>
            </dict>
            <key>city level6_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1219},{169,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,244}}</string>
                <key>sourceSize</key>
                <string>{169,244}</string>
            </dict>
            <key>city level6_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,351},{454,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,332}}</string>
                <key>sourceSize</key>
                <string>{454,332}</string>
            </dict>
            <key>city level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,1023},{320,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,44},{320,194}}</string>
                <key>sourceSize</key>
                <string>{406,282}</string>
            </dict>
            <key>city level7_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,969},{197,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,181}}</string>
                <key>sourceSize</key>
                <string>{197,181}</string>
            </dict>
            <key>city level7_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,685},{406,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,282}}</string>
                <key>sourceSize</key>
                <string>{406,282}</string>
            </dict>
            <key>city level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,1152},{308,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,44},{308,196}}</string>
                <key>sourceSize</key>
                <string>{394,284}</string>
            </dict>
            <key>city level8_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,1345},{160,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,177}}</string>
                <key>sourceSize</key>
                <string>{160,177}</string>
            </dict>
            <key>city level8_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,806},{394,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,284}}</string>
                <key>sourceSize</key>
                <string>{394,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>citylevel.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70eab2973c9524015f5cc88fb4484f87$</string>
            <key>textureFileName</key>
            <string>citylevel.png</string>
        </dict>
    </dict>
</plist>
