<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>border.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{234,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,15}}</string>
                <key>sourceSize</key>
                <string>{234,15}</string>
            </dict>
            <key>coinzer in progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,15},{188,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,17}}</string>
                <key>sourceSize</key>
                <string>{188,17}</string>
            </dict>
            <key>goldBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,15},{35,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,29}}</string>
                <key>sourceSize</key>
                <string>{35,29}</string>
            </dict>
            <key>goldStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,15},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{89,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,72}}</string>
                <key>sourceSize</key>
                <string>{89,72}</string>
            </dict>
            <key>mama_roo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{199,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,237}}</string>
                <key>sourceSize</key>
                <string>{199,237}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,116},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Coinzer.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4999aa919a14357b528ae85aa998096f$</string>
            <key>textureFileName</key>
            <string>Coinzer.png</string>
        </dict>
    </dict>
</plist>
