<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>border.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{467,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,30}}</string>
                <key>sourceSize</key>
                <string>{467,30}</string>
            </dict>
            <key>coinzer in progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,30},{376,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,34}}</string>
                <key>sourceSize</key>
                <string>{376,34}</string>
            </dict>
            <key>goldBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,30},{70,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,57}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>goldStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,30},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{177,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,143}}</string>
                <key>sourceSize</key>
                <string>{177,143}</string>
            </dict>
            <key>mama_roo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,231},{398,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,473}}</string>
                <key>sourceSize</key>
                <string>{398,473}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,231},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Coinzer-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977a2ea6207ad0042ab3a59514a33ce6$</string>
            <key>textureFileName</key>
            <string>Coinzer-hd.png</string>
        </dict>
    </dict>
</plist>
