<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{766,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,222}}</string>
                <key>sourceSize</key>
                <string>{766,222}</string>
            </dict>
            <key>back pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{766,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,222}}</string>
                <key>sourceSize</key>
                <string>{766,222}</string>
            </dict>
            <key>city.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{343,171}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{343,171}}</string>
                <key>sourceSize</key>
                <string>{369,199}</string>
            </dict>
            <key>city_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{369,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,199}}</string>
                <key>sourceSize</key>
                <string>{369,199}</string>
            </dict>
            <key>jungle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{595,161}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{595,161}}</string>
                <key>sourceSize</key>
                <string>{621,191}</string>
            </dict>
            <key>jungle_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,770},{621,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,191}}</string>
                <key>sourceSize</key>
                <string>{621,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SelectGame-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfb951d721d1fa18f940fb5b82364859$</string>
            <key>textureFileName</key>
            <string>SelectGame-ipadhd.png</string>
        </dict>
    </dict>
</plist>
